button {
	cursor: pointer;
	border: none;
	background: none;
}

// DARKMODE BUTTON
.darkmode-switch button {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	border: 2px solid var(--color-nav-text);
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		border-color: var(--color-nav-text-hover);
	}

	svg path {
		stroke: var(--color-light-switch-icon);
	}
}
