---
---

<header id="site-header" class="site-header">
	<div class="container">
		<a class="logo type-tag" aria-label="home" href="/">Daniel C. Eze</a>
		<nav class="site-nav" aria-label="main-nav">Navitem here</nav>
	</div>
</header>

<style lang="scss">
	.site-header {
		padding: var(--space-fixed-b) 0;
	}

	.site-header .container {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: var(--space-fixed-c);
		align-items: center;
	}

	.site-nav {
		justify-self: flex-end;
	}

	.logo {
		color: var(--color-text);
		font-weight: 600;
		text-decoration: none;
	}
</style>
